/* Figma Styles of your File */
:root {
  /* Colors */
  --dark-frame-color: #16181f;
  --dark-shape-color: #20232d;
  --light-action-color: #ff7029;
  --light-primary-color: #24baec;
  --light-text-color: #1b1e28;
  --light-sub-text-color: #7d848d;
  --light-line-stoke: #f8f9fa;
  --light-bg-color: #ffffff;
  --light-frame-color: #f8f9fa;

  /* Fonts */
  /* Effects */
}
